/* font & reset css 
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.rbody {
    background-image: url(../images/meetings-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
}

.footer-links a:hover {
    color: rgb(251, 176, 63);
    padding-left: 5px;
}





/* footer section */

ul , li {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}

a {
    text-decoration: none !important;
    color: #fff;
}

.social-icons {

    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

/* .social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
  } */

.social-icons a {
    background-color: #111212;
    color: white;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

/* .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    background-color: red
  } */

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 16px
}

.social-icons a.facebook:hover {
    background-color: white;
    color: black;
}

.social-icons a.twitter:hover {
    background-color: white;
    color: black;
}

.social-icons a.instagram:hover {
    background-color: white;
    color: black;
}

.social-icons a.dribbble:hover {
    background-color: white;
    color: black;
}

.footer {
    /* text-align: center; */
    margin-top: 20px;
    border-top: 1px solid rgba(250, 250, 250, 0.15);
    padding: 40px 0px;
}

.footer 
{
    /* text-transform: uppercase; */
    font-size: 15px;
    color: #fff;
}


.footer-dwon p a {
    color: #f5a425;
}

.footer-dwon {
    text-align: center;
    padding: 15px 0px;
    background-color: #191a20;
}

.footer-dwon p {
    /* text-transform: uppercase; */
    font-size: 15px;
    color: #fff;
    margin: 0;
}
.soi{
    font-size: 18px;
    line-height: 15px;
}

.main{
    width: 100%;
    margin-top: 120px;
    padding: 60px 0px;
}

.nav{
    width: 100%;
    background-color: #fff;
    /* color: black; */
    font-size: 20px;
}
.nav .nav-link{
    position: relative;
    padding: 20px 0px !important;
    color: black;
    font-weight: 500;
    border-radius: 0px;
    margin: 2px 2px;
    border: 2px solid #a12c2f;
}

.nav .nav-link:hover{
    background-color: #a12c2f;
    color: #fff;
    border-radius: 0px;
}

.active{
    background-color: #a12c2f !important;
    color: #fff !important;
    border-radius: 0px !important;
}

.form{
    width: 100%;
    padding: 50px;
    background-color: #fff;
}

label{
    font-size: 16px;
    color: #a12c2f;
    font-weight: 500;
}
.fa-caret-down{
    position: absolute;
    bottom: -23px;
    font-size: 35px;
    color: #a12c2f;
    left: 120px;

}
